site_name: The Infinite Black 2 Wiki (unofficial)
site_url: https://gatorskull.github.io/tib2-wiki/
repo_url: https://github.com/gatorskull/tib2-wiki
repo_name: Contribute

theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.indexes
    
  palette:
    scheme: slate
    primary: deep purple
    accent: cyan

plugins:
  - awesome-pages
  - search
  - section-index      
  

markdown_extensions:
  - admonition
  - pymdownx.details
  - attr_list
  - wikilinks